
#define ID_FLAG	1003
#define Config	6000
#define ID_ROB0	130
#define ID_RHINO1	131
#define ID_RHINO2	141
#define ID_ATLAS2	142
#define ID_RHINO3	151
#define ID_ATLAS3	152
#define ID_ATLAS1	132
#define SHOW_END	102
#define PATH_SHOW	4000
#define ID_PATH	101
#define ID_DONE	102
#define PATH	101
#define ID_DETECT	1004
#define ID_BACK	1006
#define ID_REC	1034
#define ID_SEG	1038
#define Teach	2000
#define ID_ROB1	1035
#define ID_ROB2	1036
#define ID_ROB3	1037
#define FWD2	1040
#define BCK2	1041
#define FAST2	1042
#define SLOW2	1043
#define FWD3	1050
#define BCK3	1051
#define FAST3	1052
#define SLOW3	1053
#define FWD4	1060
#define BCK4	1061
#define FAST4	1062
#define SLOW4	1063
#define FWD5	1070
#define BCK5	1071
#define FAST5	1072
#define SLOW5	1073
#define FWD6	1080
#define BCK6	1081
#define FAST6	1082
#define SLOW6	1083
#define TCH_END	1090
#define FWD1	1030
#define BCK1	1031
#define FAST1	1032
#define SLOW1	1033
#define ID_EDIT	                1000
#define ID_EDIT_STATIC	        1001
#define ID_STATUS               1002
#define ID_STATUS_STATIC	1003
#define ID_OK	                1005
#define MyDialog	        1010
#define ID_EXIT	                1013
#define ID_DOWN	                1014
#define ID_UP	                1015
#define ID_LEFT	                1016
#define ID_RIGHT	        1017
#define ID_HOME	                1018
#define ID_END	                1019
#define ID_PRIOR	        1020
#define ID_NEXT	                1021
MyDialog DIALOG PRELOAD MOVEABLE DISCARDABLE 1, 0, 96, 225
STYLE DS_ABSALIGN | WS_CHILD | WS_VISIBLE | WS_DLGFRAME
BEGIN
	CONTROL "", ID_EDIT, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | ES_LOWERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 14, 91, 12
	CONTROL "", ID_OK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 35, 225, 24, 1
	CONTROL "Exit", ID_EXIT, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 5, 210, 85, 14
	CONTROL "DOWN", ID_DOWN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 35, 195, 26, 14
	CONTROL "UP", ID_UP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 35, 180, 26, 14
	CONTROL "LEFT", ID_LEFT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 5, 195, 28, 14
	CONTROL "RIGHT", ID_RIGHT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 63, 195, 27, 14
	CONTROL "HOME", ID_HOME, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 5, 165, 28, 14
	CONTROL "TEACH", ID_END, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 63, 165, 27, 14
	CONTROL "ZOOM IN", ID_PRIOR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 50, 150, 40, 14
	CONTROL "ZOOM OUT", ID_NEXT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 5, 150, 41, 14
	CONTROL "OK", ID_BACK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 35, 165, 26, 14
	CONTROL "Button", ID_STATUS, "BorBtn", BBS_BITMAP | BBS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_BORDER, 0, 44, 96, 89
	CONTROL "", 1007, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 96, 225
	CONTROL "StatusBox", 1008, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 0, 33, 96, 103
	CONTROL "Input Box", ID_EDIT_STATIC, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 2, 3, 92, 26
	CONTROL "Detect", ID_DETECT, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 7, 140, 38, 7
	CONTROL "", ID_FLAG, "BorBtn", BBS_BITMAP | BBS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_BORDER, 81, 140, 7, 7
	CONTROL "Collision", 1009, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 50, 138, 40, 11
	CONTROL "", 1010, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 5, 138, 41, 11
END
Teach DIALOG 0, 0, 96, 141
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION
CAPTION "ATLAS Teach Pendant"
BEGIN
	CONTROL ">>", FWD1, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 12, 13, 14
	CONTROL "Arm Rot", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 15, 31, 8
	CONTROL "<<", BCK1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 12, 13, 14
	CONTROL "+", FAST1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 12, 13, 14
	CONTROL "-", SLOW1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 12, 13, 14
	CONTROL ">>", FWD2, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 28, 13, 14
	CONTROL "Arm Elev", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 31, 31, 8
	CONTROL "<<", BCK2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 28, 13, 14
	CONTROL "+", FAST2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 28, 13, 14
	CONTROL "-", SLOW2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 28, 13, 14
	CONTROL ">>", FWD3, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 44, 13, 14
	CONTROL "Arm Ext", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 47, 32, 8
	CONTROL "<<", BCK3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 44, 13, 14
	CONTROL "+", FAST3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 44, 13, 14
	CONTROL "-", SLOW3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 44, 13, 14
	CONTROL ">>", FWD4, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 60, 13, 14
	CONTROL "Wrst Elev", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 63, 32, 8
	CONTROL "<<", BCK4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 60, 13, 14
	CONTROL "+", FAST4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 60, 13, 14
	CONTROL "-", SLOW4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 60, 13, 14
	CONTROL ">>", FWD5, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 76, 13, 14
	CONTROL "Wrst Rot", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 79, 32, 8
	CONTROL "<<", BCK5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 76, 13, 14
	CONTROL "+", FAST5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 76, 13, 14
	CONTROL "-", SLOW5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 76, 13, 14
	CONTROL ">>", FWD6, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 36, 92, 13, 14
	CONTROL "Tool Jaw", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 95, 31, 8
	CONTROL "<<", BCK6, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 51, 92, 13, 14
	CONTROL "+", FAST6, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 92, 13, 14
	CONTROL "-", SLOW6, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 81, 92, 13, 14
	CONTROL "End Teach Pendant", TCH_END, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 7, 125, 83, 14
	CONTROL "Rob0", ID_ROB1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, -1, 28, 12
	CONTROL "Rob1", ID_ROB2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 35, -1, 28, 12
	CONTROL "Rob2", ID_ROB3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 65, -1, 28, 12
	CONTROL "REC", ID_REC, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 15, 109, 24, 14
	CONTROL "SEG", ID_SEG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 55, 109, 24, 14
END
PATH_SHOW DIALOG 32, -8, 217, 225
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION
CAPTION "Path File"
BEGIN
	CONTROL "Path", ID_PATH, "EDIT", ES_LEFT | ES_MULTILINE | ES_OEMCONVERT | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 7, 4, 197, 187
	CONTROL "OK", SHOW_END, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 87, 199, 52, 14
END

ICON_1 ICON "robot.ico"

Config DIALOG 77, 76, 166, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "ROBOT CONFIGURATION"
BEGIN
	CONTROL "Atlas", ID_ATLAS1, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 31, 31, 13
	CONTROL "Rhino", ID_RHINO1, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 21, 32, 10
	CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 9, 19, 41, 28
	CONTROL "Robot0", ID_ROB1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 7, 47, 44
	CONTROL "Atlas", ID_ATLAS2, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 67, 31, 31, 13
	CONTROL "Rhino", ID_RHINO2, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 67, 21, 32, 10
	CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 63, 19, 41, 28
	CONTROL "Robot1", ID_ROB2, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 60, 7, 47, 44
	CONTROL "Atlas", ID_ATLAS3, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 120, 31, 31, 13
	CONTROL "Rhino", ID_RHINO3, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 120, 21, 32, 10
	CONTROL "", 103, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 116, 19, 41, 28
	CONTROL "Robot2", ID_ROB3, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE | WS_GROUP, 113, 7, 47, 44
	CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 0, 0, 166, 74
	DEFPUSHBUTTON "OK", ID_OK, 54, 54, 58, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
